﻿@model Category
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<br /><br />
      <h2 class="text-info">Create Category</h2>
      <form method="post" asp-action="Create">
          <div class="border backgroundWhite">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="form-group row">
                  <div class="col-2">
                      <label asp-for="Name" class="col-form-label"></label>
                  </div>
                  <div class="col-5">
                      <input asp-for="Name" class="form-control" />
                  </div>
                  <span asp-validation-for="Name" class="text-danger"></span>
              </div>
              <div class="form-group row">
                  <div class="col-5 offset-2">
                      <partial name="_CreateAndBackToListButton" />
                  </div>
              </div>

          </div>
      </form>