﻿@model IEnumerable<Category>

@{ 
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<br /><br />
      <div class="border backgroundWhite">
          <div class="row">
              <div class="col-6">
                  <h2 class="text-info">Category List</h2>
              </div>
              <div class="col-6 text-right">
                  <partial name="_CreateButtonPartial">
              </div>
          </div>
          <br />
          <div>
              @if (Model.Count() > 0)
              {
                  <table class="table table-striped border">
                      <tr>
                          <th>
                              @Html.DisplayNameFor(m => m.Name)
                          </th>
                          <th></th>
                          <th></th>

                      </tr>
                      @foreach (var item in Model)
                      {
                          
                          <tr>
                              <td>
                                  @Html.DisplayFor(m => item.Name)
                              </td>
                              <td>
                                  <partial name="_TableButtonPartial" model="@item.Id"/>
                              </td>
                          </tr>
                      }
                  </table>
              }
              else
              {
                  <p class="text-info">No categories Exists</p>
              }

          </div>
      </div>